/* Header styles */
.header {
  align-items: center;
  background-color: #343a40; /* Dark background */
  color: #fff; /* White text */
  display: flex;
  flex: 0 0 auto;
  font-family: var(--font-roboto-mono); /* Apply Roboto Mono to the header */
  font-size: 1.5rem; /* Adjust text size */
  height: 10%; /* 10% of viewport height */
  justify-content: space-between;
  padding: 1rem;
  position: relative;
}

.home-icon {
  cursor: pointer;
  font-size: 1.5rem;
  margin-right: 1rem;
}

.header-text {
  position: absolute; /* Position the text */
  left: 50%; /* Center the text */
  transform: translateX(-50%); 
}
